:root {
	--primary: #092b6a;
	--secondary: #60a9fc;
	--background: #ebebeb;
	--text-color: #242424;
	--secondary-background: #dadada;
	--very-light-gray: #dfdfdf;
	--sun: #ebdb52;
}

.dark {
	--primary: #ffffff;
	--secondary: #ff9800;
	--background: #092b6a;
	--text-color: #f5f5f5;
	--secondary-background: #151f28;
}