:root {
	--primary: #122c3d;
	--secondary: #f66c0f;
	--background: #efefef;
	--sky: #60a9fc;
	--text-color: #242424;
	--secondary-background: #dadada;
	--very-light-gray: #dfdfdf;
	--sun: #ebdb52;
}

.dark {
	--primary: #ffffff;
	--secondary: #ff9800;
	--background: #122c3d;
	--sky: var(--secondary);
	--text-color: #f5f5f5;
	--secondary-background: #151f28;
}